
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow-sm bg-light">
      <div class="card-body">
        <h1><% if @flat.new_record? %>
            Add a new flat
          <% else %>
            Edit this flat
          <% end %></h1>
        <%= simple_form_for(@flat) do |f| %>
          <%= f.input :name, label: "Flat Name" %>
          <%= f.input :address, label: "Address" %>
          <%= f.input :description, label: "Description", as: :text %>
          <%= f.input :number_of_guests, label: "Guests", input_html: { min: 1 } %>
          <%= f.input :price_per_night, label: "Price per Night (€)", input_html: { min: 0, step: 1 } %>
          <%= f.input :image_url, label: "Url de l'image" %>
          <%= f.button :submit, class:"btn btn-primary" %>
          <%= link_to "Cancel", flats_path, class:"btn btn-danger"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
